// 1. Media Queries

$mobile: "only screen and (max-width: $screen-xs-max)";
$tablet: "only screen and (max-width: $screen-sm-max)";
$desktop: "only screen and (max-width: $screen-md-max)";

// Useful mixins: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/.

// 2. REM Font Sizes.

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// 3. Variables

// Font-weights.

$font-weight-bold: 500;
$font-weight-extra-bold: 500;

// 4. Colors.

$black: #000000;
$white: #ffffff;
$green: #00a99d;
$blue: #0000ff;
$light-green: #d9f2f0;
$orange: #f26621;
$light-orange: #fde3d7;
$greyish: #f2f2f2;
$light-greyish: #f3f3f3;
$dark-greyish: #cccccc;
$mild-greyish: #666666;
$extra-greyish: #999999;
$cool-greyish: #D9D9DB;
$super-greyish: #eaeaea;
$rare-greyish: #aeaeae;
$almost-black: #1b1b1b;
$color-primary: $orange;
$color-background: $greyish;
$color-border: $dark-greyish;

// 5. Selection Color in Browser - https://css-tricks.com/almanac/selectors/s/selection/

*::-moz-selection { color: $greyish; background-color: #000099; }
*::selection { color: $greyish; background-color: #000099; }
