// Default Size.
html, body {
  font-size: 100%;
  background-color: $color-background;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Bootstrap's Container Declaration.
.container {
  @include container-fixed();
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

// Layouts
.container {
  > header {
    @include make-row();
    #branding {
      @include make-sm-column(12);
    }
    #page-navigation {
      @include make-sm-column(12);
    }
  }
  > main {
    @include make-row();
  }
  #configure {
    > .column {
      @include make-sm-column(12);
    }
  }
  #vm-listing {
    > ul {
      @include make-row();
      > li {
        @include make-sm-column(4);
      }
    }
  }
}
