// Button
.btn {
	outline: none !important;
	font-weight: $font-weight-bold;
	&.disabled {
		color: $dark-greyish;
		border-color: $dark-greyish;
		&:hover, &:active, &:hover {
			color: $dark-greyish !important;
		}
	}
}

// Button Orange
.btn-orange {
	transition: .4s all;
	color: $almost-black;
	border-color: $almost-black;
	&:hover, &:active {
		color: $white !important;
		border-color: $almost-black !important;
		background-color: $almost-black !important;
	}
}

/*Fix problem with buttons staying coloured after being clicked*/
.btn-default:focus {
	background-color:#fff;
}
