// Universal Links
a {
  text-decoration: none;
}

// Bootstrap Slider
.slider-handle.custom {
  background-image: url('../images/progress-indicator.png') !important;
  height: 41px;
  width: 35px;
  margin-top: -10px;
  box-shadow: none !important;
  &::before {
    content: "" !important;
  }
}
.slider-track {
  border: 1px solid $rare-greyish !important;
  background-image: none !important;
  background-color: $dark-greyish !important;
  filter: none !important; // IE 9 Fix
  // background-image: linear-gradient(to bottom, $dark-greyish 0, $dark-greyish 100%) !important;
}
.slider-selection {
  box-shadow: none !important;
  border: none !important;
  background-image: none !important;
  background-color: $orange !important;
  filter: none !important; // IE 9 Fix
  // background-image: linear-gradient(to bottom, $orange 0, $orange 100%) !important;
}
.counter {
  margin-top: 8px;
  color: $white;
  text-align: center;
  @include font-size(14px);
}
// Disabled Slider
.slider-disabled {
  .slider-handle.custom {
    background-image: url('../images/progress-indicator-off.png') !important;
  }
  .slider-track {
    background-image: none !important;
    background-color: $greyish !important;
    filter: none !important; // IE 9 Fix
    // background-image: linear-gradient(to bottom, $greyish 0, $greyish 100%) !important;
  }
  .slider-selection {
    background-image: none !important;
    background-color: $dark-greyish !important;
    filter: none !important; // IE 9 Fix
    // background-image: linear-gradient(to bottom, $dark-greyish 0, $dark-greyish 100%) !important;
  }
}

// Bootstrap Select
.bootstrap-select {
  height: 40px;
  position: relative;
  width: 100% !important;
  button {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: none !important;
    @include font-size(20px);
    box-shadow: none !important;
    position: absolute !important;
    color: $color-primary !important;
    background-color: transparent !important;
    .filter-option {
      font-weight: 500;
    }
    &.dropdown-toggle {
      &:active, &:hover, &:focus {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
      }
    }
  }
  .dropdown-menu {
    padding: 0;
    margin: -2px 0 0;
    border: none !important;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 1px 10px 5px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 10px 5px 5px rgba(0,0,0,0.25);
    box-shadow: 1px 10px 5px 5px rgba(0,0,0,0.25);
    a {
      margin: 4px;
      border-radius: 0;
      padding-left: 10px;
      @include font-size(16px);
      color: $extra-greyish;
      &:hover, &:focus, &:active {
        border-radius: 4px;
        color: $color-primary;
        outline: none !important;
        background-color: $light-orange;
      }
    }
    .selected {
      a {
        color: $color-primary;
      }
    }
  }
}
