// Header Section - Contains AMD Logo and MxGPUI Text.
#page-intro {
    margin-top: 30px;
    margin-bottom: 30px;
    #branding {
        font-weight: $font-weight-bold;
        color: $blue;
        @include font-size(18px);
        img {
            margin-right: 20px;
            vertical-align: baseline;
        }
    } // #branding
    #page-navigation {
        margin-top: 30px;
        #page-title {
            margin: 0 20px 0 0;
            line-height: normal;
            color: $blue;
            display: inline-block;
            vertical-align: middle;
            @include font-size(18px);
            img {
                margin-right: 10px;
                vertical-align: initial;
            }
        } // #page-title
        #action-dropdown {
            display: inline-block;
            button {
                border-radius: 0;
                padding: 7px 12px 5px;
                color: $almost-black;
                @include font-size(14px);
                background-color: transparent;
                border: 1px solid transparent;
                font-weight: $font-weight-bold;
                &:hover,
                &:focus,
                &:active {
                    box-shadow: none;
                }
            } // button
            &.open button {
                background-color: $white;
            } // .open -> button
            .dropdown-menu {
                padding: 0;
                border: none;
                margin-top: 1px;
                border-radius: 0;
                a {
                    margin: 4px;
                    color: $extra-greyish;
                    padding: 5px 15px 5px 10px;
                    &:hover,
                    &:active,
                    &:focus {
                        color: $blue;
                        border-radius: 4px;
                        background-color: #ccccff;
                    }
                }
            } // .dropdown-menu
        } // #action-dropdown
        #page-tabs {
            float: right;
            border-bottom: none;
            li {
                a {
                    margin: 0;
                    color: $mild-greyish;
                    padding: 7px 12px 5px;
                    border: none !important;
                    @include font-size(14px);
                    background-color: transparent;
                }
                &.active {
                    a {
                        font-weight: $font-weight-bold;
                        border: none !important;
                        border-bottom: 4px solid $blue !important;
                    }
                }
            }
        } // #page-tabs
        &::after {
            content: '';
            display: block;
            border-bottom: 1px solid $dark-greyish;
        }
    } // #page-navigation
} // header
// Main Section - Contains Content.
main {
    margin-bottom: 30px;
    #vm-gpu-component {
        border: 1px solid $dark-greyish;
        .child {
            padding-top: 15px;
            padding-left: 15px;
            border-bottom-color: $dark-greyish;
            background-color: $cool-greyish;
            li {
                float: left;
                a {
                    margin: 0;
                    min-width: 150px;
                    text-align: center;
                    color: $mild-greyish;
                    border-color: $dark-greyish;
                    font-weight: $font-weight-bold;
                    background-color: $light-greyish;
                }
                &.active {
                    a {
                        color: $blue;
                        background-color: $white;
                        border-color: $dark-greyish;
                        border-bottom-color: $white;
                    }
                }
            }
            li:last-child a {
                border-left: none;
            }
        } // .child
        #vm-header {
            text-align: right;
            padding: 30px 15px;
            background-color: $white;
            @include clearfix;
            button {
                min-width: 165px;
                margin-left: 15px;
                padding: 10px 40px;
                text-transform: uppercase;
                &:not(.disabled) {
                    @extend .btn-orange;
                }
            } // button
        } // #vm-header
        #gpu-header {
            padding: 30px 15px;
            background-color: $white;
            @include clearfix;
            .slide {
                width: 440px;
                float: left;
                margin-top: 10px;
                position: relative;
                @media #{$desktop} {
                    width: 325px;
                }
                @media #{$tablet} {
                    width: 100%;
                }
                span {
                    color: $black;
                    font-weight: $font-weight-bold;
                    margin: 0 5px 0 0;
                    @include font-size(14px);
                    float: left;
                } // Partitions.
                .slider {
                    width: 200px;
                    z-index: 5;
                    float: left;
                    @media #{$desktop} {
                        width: 250px;
                    }
                } // Slider.
            } // .slide
            .switch {
                float: right;
                width: 150px;
                label {
                    @include font-size(14px);
                    font-weight: $font-weight-bold;
                }
                @media #{$desktop} {
                  position: absolute;
                  float: none;
                  clear: left;
                  left: 65px;
                  top: 25px;
                }
                @media #{$tablet} {
                    float: left;
                    clear: none;
                    left: auto;
                    top: auto;
                    position: relative;
                    margin-left: 30px;
                }
            }
            .pane-actions {
                float: right;
                width: 600px;
                text-align: right;
                button {
                    min-width: 165px;
                    margin-left: 15px;
                    padding: 10px 40px;
                    text-transform: uppercase;
                    &:not(.disabled) {
                        @extend .btn-orange;
                    }
                } // button
                @media #{$desktop} {
                    width: 557px;
                    float: right;
                    text-align: right;
                    button {
                        padding: 10px 30px;
                    } // button
                }
                @media #{$tablet} {
                    float: none;
                    clear: both;
                    display: block;
                    margin-left: -20px;
                    margin-top: 80px;
                }
            } // .pane-actions
        } // #vm-header
        #vm-listing {
            height: 500px;
            overflow-x: hidden;
            overflow-y: scroll;
            background-image: url("../images/bg-listings.png");
            background-repeat: repeat;
            background-attachment: scroll;
            > ul {
                margin: 0;
                padding: 30px 15px;
                list-style-type: none;
                height: 500px;
                > li {
                    margin-bottom: 30px;
                    list-style-type: none;
                }
                .machine-header {
                    width: 100%;
                    height: 54px;
                    display: table;
                    padding: 10px 15px;
                    border-radius: 4px 4px 0 0;
                    font-weight: $font-weight-bold;
                    background-color: $super-greyish;
                    border: 1px solid $extra-greyish;
                    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
                    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
                    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
                    &.connected {
                        background-color: #9999ff;
                        border: 1px solid $extra-greyish;
                        color: white;
                    }
                    &.in-use {
                        background-color: $blue;
                        border: 1px solid $extra-greyish;
                        color: white;
                    }
                    &.not-connected {
                        background-color: $super-greyish;
                        border: 1px solid $extra-greyish;
                        color: $extra-greyish;
                    }
                    > span {
                        display: table-cell;
                        line-height: normal;
                        @include font-size(10px);
                        text-transform: uppercase;
                    }
                    > h2 {
                        margin: 0;
                        padding: 0;
                        text-align: right;
                        line-height: normal;
                        display: table-cell;
                        font-size: 13px;
                        max-width: 120px;
                        word-wrap: break-word;
                    }
                } // .machine-header
                .machine-action {
                    width: 100%;
                    display: table;
                    background-color: $white;
                    border-radius: 0 0 4px 4px;
                    border: 1px solid $extra-greyish;
                    border-top: none;
                    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
                    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
                    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
                    > span {
                        width: 50%;
                        padding: 10px 15px;
                        display: table-cell;
                        color: $blue;
                        @include font-size(14px);
                        border-right: 1px solid $extra-greyish;
                        strong {
                            font-weight: $font-weight-bold;
                        }
                    }
                }
            } // .machine-action
        } // #vm-listing
        #gpu-listing {
            height: 500px;
            overflow-x: hidden;
            //overflow-y: scroll;
            // Tree Structure - Source: http://codepen.io/tpkahlon/pen/zKymPk
            .node-parent {
                background-image: url("../images/bg-listings.png");
                background-repeat: repeat;
                background-attachment: scroll;
                width: 100%;
                padding: 0 0 30px 175px;
                position: relative;
                margin-bottom: 0;
                @media #{$tablet} {
                    padding: 0 0 60px 60px;
                }
                > li {
                    padding-top: 30px !important;
                    position: relative;
                    list-style: none;
                    padding-left: 30px;
                    &::after {
                        content: "";
                        position: absolute;
                        left: -10px;
                        border-left: 2px solid #000;
                        height: 100%;
                        width: 0px;
                        top: 0px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: -10px;
                        border-top: 2px solid #000;
                        top: 68px;
                        width: 40px;
                        height: 0;
                    }
                    &:last-child {
                        &::after {
                          height: 68px;
                        }
                    } // Tree Structure styles for first/parent node items (Usually has more gap/width)
                    li {
                        padding-top: 15px !important;
                        position: relative;
                        list-style: none;
                        padding-left: 40px;
                        &::after {
                            content: "";
                            position: absolute;
                            left: -10px;
                            border-left: 2px solid #000;
                            height: 100%;
                            width: 0px;
                            top: 0px;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            left: -10px;
                            border-top: 2px solid #000;
                            top: 40px;
                            width: 50px;
                            height: 0;
                        }
                        &:last-child {
                            &::after {
                                height: 40px;
                            }
                        }
                    } // Tree Structure styles for second/child node items (Usually has less gap/width)
                }
                // Tree structure
                &:last-child {
                    .gpu-node {
                        &:last-child {
                            margin-bottom: 30px;
                        }
                    }
                } // Add margin to very last item of tree.
            } // .node-parent
            .partition-action {
                width: 400px;
                min-height: 75px;
                height: auto;
                padding: 8px;
                position: relative;
                border-radius: 4px;
                background-color: $white;
                -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
                @include clearfix();
                img {
                    width: 16px;
                    margin-right: 6px;
                    vertical-align: top;
                } // img
                h2 {
                    margin: 0 0 5px;
                    padding: 0;
                    font-weight: $font-weight-bold;
                    color: $almost-black;
                    @include font-size(16px);
                    .label {
                        float: right;
                        font-size: 10px;
                        line-height: 1;
                        padding: .4em .6em .3em .6em;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        background-color: black;
                    }
                } // h2
                button {
                    margin-top: 10px;
                    float: right;
                    padding: 4px 8px;
                    text-transform: uppercase;
                    @include font-size(12px);
                } // button
                .partition-toggle {
                    position: absolute;
                    z-index: 100;
                    bottom: -12.5px;
                    left: 19px;
                    width: 25px;
                    height: 25px;
                    display: table;
                    background-color: $white;
                    text-decoration: none;
                    border-radius: 50%; // Source: https://davidwalsh.name/css-circles
                    -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
                    -moz-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
                    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
                    .fa {
                        vertical-align: middle;
                        text-align: center;
                        display: table-cell;
                    }
                }
                .slide {
                    float: left;
                    margin-top: 10px;
                    display: inline-block;
                    span {
                        color: $white;
                        font-weight: $font-weight-bold;
                        margin: 0 5px 0 0;
                        @include font-size(12px);
                    } // Partitions.
                } // .slide
                .slider {
                  width: 185px;
                }
            } // .partition-action
            .panel-child {
                width: 320px;
                min-height: 50px;
                height: auto;
                padding: 8px;
                position: relative;
                border-radius: 4px;
                @include clearfix();
                font-weight: $font-weight-bold;
                &.connected {
                    color: white;
                    vertical-align: bottom;
                    border: 1px solid #000099;
                    background-color: #9999ff;
                } // .connected
                &.in-use {
                    color: white;
                    border: 1px solid #750000;
                    background-color: #0000ff;
                } // .in-use
                &.not-connected {
                    color: $almost-black;
                    border: 1px solid $extra-greyish;
                    background-color: $super-greyish;
                    &:last-child {
                        vertical-align: top !important;
                    }
                } // .not-connected
                .mxgpu-status {
                    word-break: break-all;
                    display: block;
                    text-align: right;
                    margin-bottom: 5px;
                    @include font-size(9px);
                    text-transform: uppercase;
                } // .mxgpu-status
                .gpu-name {
                    word-break: break-word;
                    max-width: 125px;
                    float: left;
                    line-height: 18px;
                    display: inline-block;
                    @include font-size(12px);
                } // .gpu-name
                .vm-name {
                    word-break: break-all;
                    max-width: 150px;
                    float: right;
                    text-align: right;
                    line-height: 18px;
                    display: inline-block;
                    @include font-size(14px);
                } // .vm-name
            } // .panel-child
        } // #gpu-listing
    } // #vm-gpu-component
} // main

#progress-div {
    position: relative;
    width:100%;
    height:15px;
    background-color:#f2f2f2;
    margin-top:-30px;
    margin-bottom:15px;
}
#progress-bar {
    position:absolute;
    width:0%;
    height:100%;
    background-color:#0000ff;
}
.modal-dialog {
    top: 30%;
}
