@charset "UTF-8";

// PN
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/ProximaNova-Light.otf');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/ProximaNova-LightIt.otf.eot');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ProximaNova-Regular.otf');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/ProximaNova-RegularIt.otf');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/ProximaNova-Semibold.otf');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/ProximaNova-SemiboldIt.otf');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ProximaNova-Bold.otf');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/ProximaNova-BoldIt.otf');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/ProximaNova-Extrabld.otf');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/ProximaNova-Black.otf');
}

// Bootstrap Glyphs
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@import "components/base";
@import "components/bootstrap";

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";

// Bower Libraries
@import "../../bower_components/font-awesome/scss/font-awesome.scss";

// SMACSS Model
@import "components/module";
@import "components/layout";
@import "components/state";
@import "components/theme";
